<% if (success.length > 0) { %>
<div class="alert alert-success"><%= success %></div>
<% } %>

<div class="jumbotron text-center">
  <h1><%= history.assetName %></h1>
  <h2>Assignment History  </h2>
</div>
<div>
  <table class="table table-bordered table-hover table-striped">
    <thead>
      <tr>
        <th>Owner</th>
        <th>Email</th>
        <th>From Date</th>
        <th>To Date</th>
      </tr>
    </thead>

    <tbody>
      <% for (var history of history.historyArr.reverse()) { %>
      <tr>
        <td><%= history.owner %></td>
        <td><%= history.email %></td>
        <td><%= history.fromDate %></td>
        <td><%= history.toDate %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
