<div class="jumbotron text-center">
    <h1>Editing <%= asset.AssetDescription %></h1>
</div>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">

        <% if (errors.length > 0) { %>
        <div class="alert alert-danger">
            <% for (error of errors) { %>
            <%= error %><br>
            <% } %>
        </div>
        <% } %>

        <form action="/<%= asset.AssetSerial %>" method="POST">

            <div class="form-group">
                <label>Asset Description</label>
                <input type="text" name="name" class="form-control" value="<%= asset.AssetDescription %>">
            </div>
            <div class="form-group">
                <label>Asset Serial</label>
                <input type="text" name="AssetSerial" class="form-control" required value="<%= asset.AssetSerial %>">
            </div>

            <div class="form-group">
                <label>Asset Type</label>
                <input type="text" name="AssetType" class="form-control" value="<%= asset.AssetType %>">
            </div>

            <div class="form-group">
                <label>Asset Sub-Type</label>
                <input type="text" name="AssetSubType" class="form-control" value="<%= asset.AssetSubType %>">
            </div>

            <!-- <div class="form-group">
                <label>Owner</label>
                <input type="text" name="email" class="form-control" value="<%= asset.email %>">
            </div>

            <div class="form-group">
                <label>QA/Dev</label>
                <input type="text" name="userType" class="form-control" value="<%= asset.userType %>">
            </div>

            <div class="form-group">
                <label>Assigned On</label>
                <input type="text" name="assignedDate" class="form-control" value="<%= asset.assignedDate %>">
            </div> -->

            <div class="form-group">
                <label>Given Accessories</label>
                <input type="text" name="givenAccesories" class="form-control" value="<%= asset.givenAccesories %>">
            </div>

            <div class="form-group">
                <label>Missing Accessories</label>
                <input type="text" name="missingAccessories" class="form-control" value="<%= asset.missingAccessories %>">
            </div>

            <div class="form-group">
                <label>Comments</label>
                <input type="text" name="Comments" class="form-control" value="<%= asset.Comments %>">
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg">Update</button>
            </div>

        </form>

    </div>
</div>