<div class="jumbotron text-center">
    <h1>All Assets</h1>
</div>

<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Asset</th>
            <th>Accessories</th>
            <th>IMEI</th>
            <th>Owner</th>
            <th>Email</th>
            <th>Assigned On</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% for (var asset of assets) { %>
        <tr>
            <td><%= asset.name %></td>
            <td><%= asset.accesories %></td>
            <td><%= asset.IMEI %></td>
            <td><%= asset.owner %></td>
            <td><%= asset.email %></td>
            <td><%= asset.assignedDate %></td>
            <td>
                <a href="/<%= asset.IMEI %>" class="btn btn-sm btn-primary">View</a>
                <a href="/<%= asset.IMEI %>/edit" class="btn btn-sm btn-primary">Edit</a>
                <a href="/<%= asset.IMEI %>/delete" class="btn btn-sm btn-danger"
                    onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>

                <!-- Trigger the modal -->
                <a href="#myModal" class="btn btn-sm btn-primary" data-toggle="modal"
                    data-asset-name="<%= asset.IMEI %>">Assign</a>
            </td>
        </tr>
        <% } %>
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h3 class="modal-title w-100 font-weight-bold" id="modelTitle"></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="" method="POST" id="assignNewOwner">
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right" for="defaultForm-email">Name</label>
                        <input type="text" id="defaultForm-email" class="form-control validate" required />
                    </div>
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right" for="defaultForm-email">Email</label>
                        <input type="text" id="defaultForm-email" class="form-control validate" required />
                    </div>

                    <div class="md-form mb-4">
                        <label data-error="wrong" data-success="right" for="defaultForm-pass">Message</label>
                        <textarea rows="5" type="password" id="defaultForm-pass" class="form-control validate"
                            value=""></textarea>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $('#myModal').on('show.bs.modal', function (e) {
        var assetName = $(e.relatedTarget).data('asset-name');
        $(e.currentTarget).find('#modelTitle').text(assetName + " new owner");
        $(e.currentTarget).find('#assignNewOwner').attr("action", "/" + assetName);
    });

    $('#assignNewOwner').submit(function () {
        // Stop form from submitting normally
        //asset.p.prassetDefault();
        // Get some values from elements on the page:
        var $form = $(this),
            name = $form.find("#defaultForm-email").val(),
            description = $form.find("#defaultForm-pass").val()
        url = $form.attr("action");

        $('#myModal').modal('toggle');
        $.post(url, {
            name: name,
            description: description
        }, function (data, status) {
            //alert("Data: " + data + "\nStatus: " + status);
            if (data.redirect) {
                // data.redirect contains the string URL to redirect to
                window.location.href = data.redirect;
            } else {
                // data.form contains the HTML for the replacement form
                $("#myModal").replaceWith(data.form);
            }
        });

        setTimeout(function () {
            location.reload();
        }, 0);
        // this.submit();
    });
</script>