<div class="jumbotron text-center">
    <h1>All Assets</h1>
</div>

<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>S.No</th>
            <th>Asset Description</th>
            <th>Asset Type</th>
            <th>Asset Sub-Type</th>
            <th>Asset Serial</th>
            <th>Owner</th>
            <!-- <th>QA/Dev</th> -->
            <th>Assigned On</th>
            <th>Given Accessories</th>
            <th>Missing Accessories</th>
            <!-- <th>Comments</th> -->
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% for (var i=0; i<assets.length ; i++) { %>
        <tr>
            <td><%= i+1 %></td>
            <td><a href="/<%= assets[i].AssetSerial %>"><%= assets[i].AssetDescription %></a></td>
            <td><%= assets[i].AssetType %></td>
            <td><%= assets[i].AssetSubType %></td>
            <td><%= assets[i].AssetSerial %></td>
            <td><%= assets[i].email %></td>
            <!-- <td><%= assets[i].userType %></td> -->
            <td><%= assets[i].assignedDate %></td>
            <td><%= assets[i].givenAccesories %></td>
            <td><%= assets[i].missingAccessories %></td>
            <!-- <td><%= assets[i].Comments %></td> -->
            <td>
                <a href="/<%= assets[i].AssetSerial %>/edit" class="btn btn-sm btn-primary">Edit</a>
                <!-- Trigger the modal -->
                <a href="#myModal" class="btn btn-sm btn-primary" data-toggle="modal"
                    data-asset-name="<%= assets[i].AssetSerial %>">Assign</a>
                    
                <a href="/<%= assets[i].AssetSerial %>/delete" class="btn btn-sm btn-danger"
                    onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>

                
                <a href="/<%= assets[i].AssetSerial %>/history" class="btn btn-sm btn-primary">Assignment History</a>
            </td>
        </tr>
        <% } %>
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h3 class="modal-title w-100 font-weight-bold" id="modelTitle"></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="alert alert-success" id="alert-Message"></div>
            </div>
            <form action="" method="POST" id="assignNewOwner">
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right" for="defaultForm-email">Name</label>
                        <input type="text" name="owner" id="defaultForm-owner" class="form-control validate" />
                    </div>
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right" for="defaultForm-email">Email</label>
                        <input type="text" name="email" id="defaultForm-email" class="form-control validate" required />
                    </div>
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right" for="defaultForm-userType">QA/Dev</label>
                        <select name="userType" id="defaultForm-userType" class="form-control validate">
                            <option value="QA" selected>QA</option>
                            <option value="Dev">Dev</option>
                            <option value="All">All</option>
                        </select>
                    </div>
                    <div class="md-form mb-4">
                        <label data-error="wrong" data-success="right" for="defaultForm-message">Message</label>
                        <textarea rows="5" type="password" name="message" id="defaultForm-message"
                            class="form-control validate" value=""></textarea>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $('#myModal').on('show.bs.modal', function (e) {
        var assetName = $(e.relatedTarget).data('asset-name');
        $(e.currentTarget).find('#modelTitle').text(assetName);
        $(e.currentTarget).find('#assignNewOwner').attr("action", "/" + assetName+"/assignNewOwner");
    });

    $('#assignNewOwner').submit(function (event) {
        // Stop form from submitting normally
        event.preventDefault();
        // Get some values from elements on the page:
        var $form = $(this),
            owner = $form.find("#defaultForm-owner").val(),
            email = $form.find("#defaultForm-email").val(),
            userType =$form.find("#defaultForm-userType").val()
        message = $form.find("#defaultForm-message").val()
        url = $form.attr("action");

        //$('#myModal').modal('hide');
        $.post(url, {
            owner: owner,
            email: email,
            userType:userType,
            message: message
        }, function (data, status) {

            if (data.redirect) {
                // data.redirect contains the string URL to redirect to
                window.location.href = data.redirect;
            } else {
                // data.form contains the HTML for the replacement form
                $("#myModal").replaceWith(data.form);
            }
        });

        $('#alert-Message').text('Successfully Added the owner');
        setTimeout(function () {
            location.reload();
        }, 500);
        // this.submit();
    });
</script>